.modal-window {
	background-color: white;
	position: absolute;
	top: 100px;
	left: 100px;
	width: 563px;
	height: 294px;
	z-index: 100001;
	-moz-border-radius: 7px;
	border-radius: 10px;
	-moz-box-shadow: 0px 1px 30px #6d6d6d;
  -webkit-box-shadow: 0px 0px 10px #6d6d6d;
  box-shadow: 0px 0px 10px #6d6d6d;
	display:none;
}

.modal-close {
	background-image: url('../images/fancy_close.png');
	position: relative;
	z-index: 100001;
	top: -12px;
	right: -12px;
	width: 30px;
	height: 30px;
	float: right;
  cursor: pointer;
}
			
.modal-content {
	z-index: 100001;
	padding: 10px 10px 10px 10px;
}

.dim {
	position:fixed;
	top:0;
	left:0;
 	width:100%;
	z-index:10000;
	background:url('../images/dim.png');
	display:none;
	text-align:left;
}
